*{
    margin:0;
    padding:0;
    text-decoration:none;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body{
    max-width:1200px;
    margin:auto;
    background-color:#f6f8fc;
    background-image: url(../imagenes/FondoBody.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header{
    padding:2em;
    margin-top:2em;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.1);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-image:url('/imagenes/FondoHeader.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 110px;
    display:flex;
    align-items: center;
}

h1{
    color:#d83235;
}

ul{
    list-style: none;
}

li{
    list-style: none;
}

.btn-header{
    background-color: #d83236;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 1em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    width:140px;
    margin-left:1em;
}

.btn-header:hover{
    background-color: #550000;
    background-image: url(/imagenes/fondoPoke.svg);
    background-repeat: no-repeat;
    background-position: 111px 15px;
    background-size: 20px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    color: #fff;
}

.btn-volver{
    background-color: #fff;
    color: #d83235;
    font-weight:bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin: 2em auto;
    border-radius: 10px;
    padding: 1em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.btn-volver:hover{
    background-color:#550000;
    background-image: url(/imagenes/fondoPoke.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 110px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    color:#fff;
}

#ListaContenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 10px;
}

#ListaContenedor li{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 22%;
    list-style: none;
    margin: 2em;
    padding: 2em;
    cursor: pointer;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.1);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-image:url('/imagenes/fondoPoke.svg');
    background-repeat: no-repeat;
    background-position: center 27px;
    background-size: 110px;
}

#ListaContenedor li:hover {
    box-shadow: inset 0px 0px 21px 10px rgba(0,0,0,0.1);
}

#ListaContenedor h2{
    text-transform: capitalize;
}

.datos-pokedex{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: .5em;
    font-weight: bold;
}

.datos-pokedex p{
    color:#a7a7a7;
}

/*----Pantalla detalles----*/

#ListaContenedorDetalles{
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    width: 85%;
    margin: 2em auto;
    border-radius: 10px;
    padding: 4em;
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.1);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#ListaContenedorDetalles .lista-tipos{
    display: flex;
    justify-content: space-between;
}

#ListaContenedorDetalles h2{
    text-transform: capitalize;
}

.contenedor-imagen-tipos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ListaContenedorDetalles > div:first-of-type img{
    width:80%;
    background-image:url('/imagenes/fondoPoke.svg');
    background-repeat: no-repeat;
    background-position: -20px;
    background-size: contain;
}

.contenedor-datos > *{
    margin-bottom:1em;
}

.contenedor-datos > h2{
    margin-bottom:0;
    font-size:3em;
}

.tipos{
    width: 100px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    margin:10px;
    padding: 5px 14px;
}

.tipos:first-of-type{
    margin-left:0;
}

.grass{
    background-color:#9bcc50;
}

.poison{
    background-color:#b97fc9;
}

.fire{
    background-color:#e3350d;
}

.water{
    background-color:#30a7d7;
}

.flying{
    background-color:#adadad;
}

.bug{
    background-color:#6e9139;
}

.normal{
    background-color:#838383;
}

.electric{
    background-color:#ebe859;
    color:#181818;
}

.ground{
    background-color:#bb8b23;
}

.fairy{
    background-color:#eeb1ff;
    color:#181818;
}

.ice{
    background-color:#227494;
}

.fighting{
    background-color:#974900;
}

.psychic{
    background-color:#5e5fc4;
}

.rock{
    background-color:#5a5a5a;
}

.ghost{
    background-color:#393a74;
}

.dragon{
    background-color:#ec5700;
}

.dark{
    background-color:#181818;
}

.steel{
    background-color:#424242;
}

.lista-habilidades{
    display:flex;
    justify-content: flex-start;
}

.lista-habilidades li{
    margin:10px;
    background-color: #f1f3f4;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    text-align: center;
}

#ListaContenedorDetalles .stats {
	display: grid;
	grid-template-columns: auto;
	gap: .5em 0;
	align-items: center;
	margin: 10px 0 0 0;
	padding: 0;
	list-style-type: none;
	grid-auto-columns: 1fr;
}

.stats li {
	background: #30a7d7;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.25rem 0.5rem;
    color:#fff;
    border-radius: 10px;
}

.stats li:first-of-type{
    background-color:#9bcc50;
}

.stats li:nth-of-type(2){
    background-color:#cc5050;
}

.stats li:nth-of-type(3){
    background-color:#5052cc;
}

.stats li:nth-of-type(4){
    background-color:#b750cc;
}

.stats li:nth-of-type(6){
    background-color:#cf672b;
}

.stats li span {
	font-weight: bold;
}

.caracteristicas{
    display: flex;
    justify-content: space-between;
    margin-top:1em;
}

.contenedor-caracteristicas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-caracteristicas{
    font-weight: bold;
    margin-bottom: 10px;
}

.texto-caracteristicas{
    background-color: #f1f3f4;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    width: 100px;
    text-align: center;
}

/*-----Historial------*/

.historial{
    padding: 10px;
    margin: 30px 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.historial h3{
    color: #d83235;
    text-align: center;
    font-size: 2em;
    margin-bottom: .5em;
}

.historial span{
    display:block;
    width:60px;
    height: 100px;
    margin: -60px auto 0 auto;
    background-image:url('/imagenes/FondoCapturados.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110px;
}

.imagen-historial{
    display:inline-block;
    background-image:url('/imagenes/fondoPoke.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.imagen-historial:hover{
    cursor: pointer;
    -webkit-animation: shake .5s infinite alternate;
    animation: shake .5s infinite alternate;
}

@keyframes shake {
    0% {
      transform: rotate(7deg);
    }
    25% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(-7deg);
    }
    100% {
      transform: rotate(0deg);
    }
}

@media (max-width:1024px){

    header{
        flex-direction: column;
        align-items: center;
        width: 85%;
        margin: 2em auto 0 auto;
    }

    .btn-header{
        margin-top:1em;
        margin-left: 0;
    }

    #ListaContenedor h2 {
        font-size: 1em;
    }

    #ListaContenedor li{
        width: 30%;
    }

    #ListaContenedorDetalles{
        flex-direction: column;
    }
}