*{
    margin:0;
    padding:0;
    text-decoration:none;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body{
    max-width:1200px;
    margin:auto;
}

header{
    padding:2em;
    background-color:#e3350d;
}

ul{
    list-style: none;
}

li{
    list-style: none;
}

.btn-volver{
    background-color: red;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin: 2em auto;
    border-radius: 10px;
    padding: 1em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#ListaContenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color:#f9f9f9;
}

#ListaContenedor li{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 22%;
    list-style: none;
    margin: 2em;
    padding: 2em;
    cursor: pointer;
    background-color: #fff;
    border-radius: 10px;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    background-image:url('/imagenes/fondoPoke.svg');
    background-repeat: no-repeat;
    background-position: center 27px;
    background-size: 110px;
}

#ListaContenedor li:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#ListaContenedor h2{
    text-transform: capitalize;
}

/*----Pantalla detalles----*/

#ListaContenedorDetalles{
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    width: 85%;
    margin: 2em auto;
    border-radius: 10px;
    padding: 4em;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#ListaContenedorDetalles .lista-tipos{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

#ListaContenedorDetalles h2{
    text-transform: capitalize;
}

#ListaContenedorDetalles > div:first-of-type img{
    width:80%;
    background-image:url('/imagenes/fondoPoke.svg');
    background-repeat: no-repeat;
    background-position: -20px;
    background-size: contain;
}

.imagen-historial{
    background-image:url('/imagenes/fondoPoke.svg');
    background-repeat: no-repeat;
    background-position: -20px;
    background-size: contain;
}

.contenedor-datos > *{
    margin-bottom:10px;
}

.contenedor-datos > h2{
    margin-bottom:0;
    font-size:3em;
}

.tipos{
    width: 100px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    margin:10px;
    padding: 5px 14px;
}

.tipos:first-of-type{
    margin-left:0;
}

.grass{
    background-color:#9bcc50;
}

.poison{
    background-color:#b97fc9;
}

.fire{
    background-color:#e3350d;
}

.water{
    background-color:#30a7d7;
}

.flying{
    background-color:#adadad;
}

.bug{
    background-color:#6e9139;
}

.normal{
    background-color:#838383;
}

.electric{
    background-color:#ebe859;
    color:#181818;
}

.ground{
    background-color:#bb8b23;
}

.fairy{
    background-color:#eeb1ff;
    color:#181818;
}

.ice{
    background-color:#227494;
}

.fighting{
    background-color:#974900;
}

.psychic{
    background-color:#5e5fc4;
}

.rock{
    background-color:#5a5a5a;
}

.ghost{
    background-color:#393a74;
}

.dragon{
    background-color:#ec5700;
}

.dark{
    background-color:#181818;
}

.steel{
    background-color:#424242;
}

.lista-habilidades li{
    margin:10px;
}

#ListaContenedorDetalles .stats {
	display: grid;
	grid-template-columns: auto;
	gap: .5em 0;
	align-items: center;
	margin: 10px 0 0 0;
	padding: 0;
	list-style-type: none;
	grid-auto-columns: 1fr;
}

.stats li {
	background: #30a7d7;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.25rem 0.5rem;
    color:#fff;
    border-radius: 10px;
}

.stats li:first-of-type{
    background-color:#9bcc50;
}

.stats li:nth-of-type(2){
    background-color:#cc5050;
}

.stats li:nth-of-type(3){
    background-color:#5052cc;
}

.stats li:nth-of-type(4){
    background-color:#b750cc;
}

.stats li:nth-of-type(6){
    background-color:#cf672b;
}

.stats li span {
	font-weight: bold;
}

.historial{
    background-color: #ededed;
    padding: 10px;
    margin: 10px 0;
}